@use "govuk/base" with ($govuk-include-default-font-face: false);
@use "govuk/core/lists" as govuk-lists;
@use "govuk/core/typography" as govuk-typography;
@use "core/all" as core;
@use "components/all" as components;
@use "libs/all" as libs;

.faa-search-listing--highlight {
  border-left: 10px solid #b1b4b6;
  padding-left: 15px;
}

.faa-footer {
  margin-top: 6rem;
}
