.faa-vacancy__title {
  margin-bottom: 10px;
}

.faa-vacancy__organisation {
  margin-bottom: 0;
}

.faa-vacancy__location {
  margin-bottom: 30px;
  color: #505a5f;
}

.faa-vacancy__closing-date {
  margin: 0;
}

.faa-vacancy__section {
  border-bottom: 1px solid #b1b4b6;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.faa-vacancy-actions {
  margin: 20px 0 30px;
}

.faa-vacancy-actions__link {
  margin-right: 20px;
}

.faa-vacancy-actions__icon {
  max-height: 1em;
  position: relative;
  top: 3px;
  margin-right: 3px;
}
