.faa-vacancy__title {
  margin-bottom: 10px;
}

.faa-vacancy__organisation {
  margin-bottom: 0;
}

.faa-vacancy__location {
  margin-bottom: 30px;
  color: $govuk-secondary-text-colour;
}

.faa-vacancy__closing-date {
  margin: 0;
}

.faa-vacancy__section {
  border-bottom: 1px solid $govuk-border-colour;
  padding-bottom: 35px;
  margin-bottom: 30px;
  padding-top: 20px;
}

.faa-vacancy__section--last {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

.faa-vacancy__section--first {
  border-bottom: none !important;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.faa-vacancy-actions {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  @include govuk-media-query(tablet) {
    flex-direction: row;
  }
}

.faa-vacancy-actions__link {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
  background: none;
  border: none;
  padding: 0;
  color: $govuk-link-colour;
  cursor: pointer;
  @include govuk-font-size(19);
  @include govuk-media-query(tablet) {
    margin-right: 15px;
  }
}

.faa-vacancy-actions__icon {
  max-height: 1.5rem;
  min-width: 1.5rem;
  margin-right: .5rem;
}

.faa-save-vacancy {
  .faa-save-vacancy__link--save {
    display: flex;
    pointer-events: auto;
  }
  .faa-save-vacancy__link--delete {
    display: none;
    pointer-events: none;
  }
}

.faa-save-vacancy--saved {
  .faa-save-vacancy__link--save {
    display: none;
    pointer-events: none;
  }
  .faa-save-vacancy__link--delete {
    display: flex;
    pointer-events: auto;
  }
}

.faa-search-result-header {
  display: flex;
  gap: 15px;
  flex-direction: row;
  .faa-save-vacancy {
    flex-basis: 20px;
    margin-left: auto;
    .faa-vacancy-actions__link {
      margin-right: 0;
    }
  }
}

.faa-vacancy__section > h2:not([class]) {
  @extend .govuk-heading-l;
}

.faa-vacancy__section > h3:not([class]) {
  @extend .govuk-heading-m;
}

.faa-vacancy__section > h4:not([class]) {
  @extend .govuk-heading-s;
}

.faa-vacancy__section > p:not([class]) {
  @extend .govuk-body;
  color: inherit;
}

.faa-vacancy__section > span:not([class]) {
  @include govuk-font(19);
}

.faa-vacancy__section > p:empty {
  display: none;
}

.faa-vacancy__section > ul:not([class]) {
  @extend %govuk-list;
  @extend %govuk-list--bullet;
  color: inherit;
}

.faa-vacancy__section > ul > li > p,
.faa-vacancy__section > ol > li > p {
  margin: 0;
}

.faa-vacancy__section > ol:not([class]) {
  @extend .govuk-list;
  @extend .govuk-list--number;
  color: inherit;
}

.faa-disability-confident--srp {
  width: 130px;
  display: block;
  margin-bottom: 20px;
}

.faa-search_results__content
{
  position:relative;
  margin-bottom: 20px
}

.faa-search_results__disability-wrapper
{
  position: absolute;
  right: 0;
  bottom: 4px
}