.faa-template {
  scroll-behavior: smooth;
}

.faa-header__navigation {
  @include govuk-media-query(desktop) {
    float: right;
  }
}

.govuk-error-message:empty {
  display: none;
}

.govuk-error-summary__list {
  margin-bottom: 0;
}

.faa-flex-row {
  @include govuk-media-query(tablet) {
    gap: 30px;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
  }
}
