@import "typography";

.faa-template {
  scroll-behavior: smooth;
}

.faa-header__navigation {
  @include govuk-media-query(desktop) {
    float: right;
  }
}

.govuk-error-message:empty {
  display: none;
}

.govuk-error-summary__list {
  margin-bottom: 0;
}

.faa-grid-row--flex-from-tablet {
  @include govuk-media-query(tablet) {
    display: flex;
    align-items: flex-end;
  }
}

.faa-flex-row {
  @include govuk-media-query(tablet) {
    gap: 30px;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
  }
}

.faa-visibly-hidden {
  visibility: hidden;
  pointer-events: none;
}

.faa-pull-right{
    float: right;
}

.faa-delete-account-application {
    background-color: #F3F2F1;
    padding: 30px;
    margin-bottom: 20px;
}