@using SFA.DAS.FAA.Web.Models
@model Dictionary<string, BrowseByInterestViewModel.RouteObject>

<div class="govuk-!-margin-bottom-6">
    @foreach (var routeObj in Model)
    {
        <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="route-@routeObj.Value.RouteId" name="SelectedRouteIds"
                type="checkbox" value="@routeObj.Value.RouteId" checked="@routeObj.Value.PreviouslySelected" />
            <label class="govuk-label govuk-checkboxes__label" for="route-@routeObj.Value.RouteId">
                @routeObj.Value.DisplayText
            </label>
            <div class="govuk-hint govuk-checkboxes__hint">
                @routeObj.Value.HintText
            </div>
        </div>
    }
</div>