@using SFA.DAS.FAA.Web.Infrastructure
@model SFA.DAS.FAA.Web.Models.SearchApprenticeshipsViewModel
@{
    ViewBag.Title = "Find an apprenticeship – GOV.UK";
}

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing page--faa-homepage" id="main-content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <partial model="@ViewData.ModelState" name="_ValidationSummary" />

            <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">Search apprenticeships</h1>
            <p class="govuk-hint govuk-!-font-size-24">@Model.TotalText</p>
        </div>
    </div>

    <div class="faa-home-panel">

        <form class="form" method="post">
            <div class="govuk-grid-row">

                <div class="govuk-grid-column-one-half govuk-grid-column-one-third-from-desktop">
                    <div class="govuk-form-group">

                        <label class="govuk-label govuk-label--m" for="what">
                            What
                        </label>

                        <div id="what-hint" class="govuk-hint">
                            Enter a job or company
                        </div>
                        <input class="govuk-input" id="what" name="what" type="text" aria-describedby="what-hint">
                    </div>
                </div>
                <div class="govuk-grid-column-one-half govuk-grid-column-one-third-from-desktop">
                    <div
                        class="govuk-form-group @((ViewData.ModelState[nameof(Model.WhereSearchTerm)]?.ValidationState == Microsoft.AspNetCore.Mvc.ModelBinding.ModelValidationState.Invalid) ? "govuk-form-group--error" : "")">

                        <label class="govuk-label govuk-label--m" for="WhereSearchTerm">
                            Where
                        </label>
                        <div id="where-hint" class="govuk-hint">
                            Enter a city or postcode
                        </div>
                        <input class="govuk-input faa-location-autocomplete" asp-for="WhereSearchTerm" id="SearchTerm"
                            type="search" spellcheck="false" autocomplete="postal-code" aria-describedby="where-hint">
                    </div>
                </div>
            </div>
            <div class="govuk-button-group govuk-!-margin-bottom-0" href="search-listing">
                <button class="govuk-button" data-module="govuk-button">Search</button>
                <a asp-route="@RouteNames.BrowseByInterests" class="govuk-link govuk-link--no-visited-state">Browse by
                    your interests instead</a>
            </div>
        </form>
    </div>
</main>