@using SFA.DAS.FAA.Web.Infrastructure
@model SFA.DAS.FAA.Web.Models.SearchResultsViewModel
@section BackLink {
    @if (Model.SelectedRouteIds.Any())
    {
        <a class="govuk-back-link" asp-route="@RouteNames.Location" asp-all-route-data="@Model.RouteData">Back</a>
    }
    else
    {
        <a class="govuk-back-link" asp-route="@RouteNames.ServiceStartDefault">Back</a>
    }
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-2"> @Model.TotalMessage </h1>
    </div>
</div>