@using SFA.DAS.FAA.Web.Infrastructure
@model SFA.DAS.FAA.Web.Models.SearchResultsViewModel
@section BackLink {
    @if (Model.SelectedRouteIds.Any())
    {
        <a class="govuk-back-link" asp-route="@RouteNames.Location" asp-all-route-data="@Model.RouteData">Back</a>
    }
    else
    {
        <a class="govuk-back-link" asp-route="@RouteNames.ServiceStartDefault">Back</a>
    }
}

<h1 class="govuk-heading-l govuk-!-margin-bottom-8"> @Model.TotalMessage </h1>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <div class="faa-filter">
            <div class="faa-filter__header">
                <h2 class="govuk-heading-m faa-filter__heading">Filter</h2>
            </div>
            <div class="faa-filter__selected">
                <div class="faa-filter__selected-header">
                    <h3 class="govuk-heading-m faa-filter__selected-heading">Selected filters</h3>
                    <a href="#" class="faa-filter__selected-action govuk-link govuk-link--no-visited-state">Clear <span
                            class="govuk-visually-hidden">the selected filters</span></a>
                </div>
                <h4 class="govuk-heading-s faa-filter__selected-sub-heading">Where</h4>
                <a class="faa-filter__tag" href="#">Sheffield (within 2 miles)</a>
                <h4 class="govuk-heading-s faa-filter__selected-sub-heading">Job category</h4>
                <a class="faa-filter__tag" href="#">Agriculture, environmental and animal care</a>
                <a class="faa-filter__tag" href="#">Business and administration</a>
                <a class="faa-filter__tag" href="#">Digital</a>
                <a class="faa-filter__tag" href="#">Digital</a>
            </div>
        </div>
    </div>
    <div class="govuk-grid-column-two-thirds">

    </div>
</div>
