@model SFA.DAS.FAA.Web.Models.SavedVacancies.IndexViewModel;
@{
    ViewData["Title"] = "Saved vacancies - Find an apprenticeship - GOV.UK";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Saved vacancies</h1>

    </div>
</div>