@using SFA.DAS.FAA.Web.Models.Apply
@model ApplicationSubmittedViewModel
@if (Model.IsVacancyClosed)
{
    ViewData["Title"] = "You cannot continue this application";
    <partial name="_VacancyClosed" model="@ValueTuple.Create(Model.VacancyInfo?.VacancyTitle, Model.VacancyInfo?.EmployerName, Model.ClosedDate, Model.IsVacancyClosedEarly)" />
}
else
{
    ViewData["Title"] = $"{Model.PageTitle} - Find an apprenticeship - GOV.UK";
    <partial name="_ValidationSummary" />
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <partial name="_ApplicationSubmittedPartial" model="@Model.VacancyInfo" />
            @if (!Model.VacancyInfo.HasAnsweredEqualityQuestions)
            {
                <form class="form" method="post">
                    <div class="govuk-form-group" das-highlight-error-for="AnswerEqualityQuestions" error-class="govuk-form-group--error">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                <h1 class="govuk-fieldset__heading">
                                    Do you want to answer the equality questions?
                                </h1>
                            </legend>
                            <span das-validation-for="AnswerEqualityQuestions" class="govuk-error-message"></span>
                            <div class="govuk-radios" data-module="govuk-radios">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" type="radio" asp-for="AnswerEqualityQuestions" value="true" type="radio" />
                                    <label class="govuk-label govuk-radios__label" for="AnswerEqualityQuestions">
                                        Yes, answer the equality questions (4 questions)
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" type="radio" asp-for="AnswerEqualityQuestions" value="false" id="AnswerEqualityQuestions-false" type="radio" />
                                    <label class="govuk-label govuk-radios__label" for="AnswerEqualityQuestions-false">
                                        No, don't answer the equality questions
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="govuk-button-group">
                        <button class="govuk-button" type="submit" data-module="govuk-button">
                            Continue
                        </button>
                    </div>
                </form>
            }
        </div>
    </div>
}