@using SFA.DAS.FAA.Web.Infrastructure
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model SFA.DAS.FAA.Web.Models.Apply.IndexViewModel;

@{
    ViewBag.Title = Model.VacancyTitle;
}

<p>
    <strong>Closing Date</strong> @Model.ClosingDate
</p>