@model SFA.DAS.FAA.Web.Models.User.NameViewModel

<div class="govuk-width-container">
    <a class="govuk-back-link" href="../vacancy-page-02.html">Back</a>

    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <partial model="@ViewData.ModelState" name="_ValidationSummary" />
                <span class="govuk-caption-l">Create an account</span>
                <h1 class="govuk-heading-l">What is your name?</h1>
                <p class="govuk-body">Write your name as you want it to appear on your applications.</p>
                <form class="form" method="post">
                    <div class="govuk-form-group @(ViewData.ModelState.ErrorCount > 0 ? "govuk-form-group--error" : "")">
                        <label class="govuk-label" for="FirstName">
                            First name
                        </label>
                        <span asp-validation-for="FirstName" class="govuk-error-message"></span>
                        <input class="govuk-input govuk-!-width-two-thirds" id="FirstName" name="FirstName" type="text">
                    </div>
                    <div class="govuk-form-group">

                        <label class="govuk-label" for="LastName">
                            Last name
                        </label>
                        <span asp-validation-for="LastName" class="govuk-error-message"></span>
                        <input class="govuk-input govuk-!-width-two-thirds" id="LastName" name="LastName" type="text">
                    </div>


                    <div class="govuk-button-group">
                        <button class="govuk-button" data-module="govuk-button">
                            Continue
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>