.faa-search-results-header {
  margin-top: 1em;
  padding-bottom: 1.5em;
  border-bottom: 1px solid $govuk-border-colour;
  @include govuk-media-query(tablet) {
    display: flex;
    flex-direction: row;
    border-top: 1px solid $govuk-border-colour;
    margin-top: 0;
    padding: 1.5em 0;
    margin-bottom: 0.5em;
  }
}

.faa-search-results-header__map {
  flex: 1;
  align-content: center;
  margin-bottom: 1em;
  @include govuk-media-query(tablet) {
    margin-bottom: 0;
  }
}

.faa-search-results-header__map-link {
  display: flex;
  gap: 5px;
  align-items: center;
  @include govuk-media-query(tablet) {
    justify-content: start;
    font-size: 19px;
  }
}

.faa-search-results-header__map-link-icon {
  max-height: 2em;
}

.faa-search-results-header__sort {
  flex: 1;
}

.faa-search-results-sort {
  @include govuk-media-query(desktop) {
    display: flex;
    align-items: center;
    justify-content: end;
  }
}

.faa-search-results-sort--saved {
  justify-content: start;
}

.faa-search-results-sort__label {
  @include govuk-media-query(desktop) {
    padding-right: 10px;
  }
}

.faa-search-results-sort__select {
  width: 100%;
  @include govuk-media-query(tablet) {
    width: auto;
    min-width: 1em;
  }
}

.das-filter__toggle {
  width: 100%;
}
