@using SFA.DAS.FAA.Web.Infrastructure
@{
    Layout = "_Layout";
    ViewBag.Title = "Get help with Find an apprenticeship – Find an apprenticeship – GOV.UK";
    ViewBag.Description = "How to get support for GOV.UK Find an apprenticeship service.";
}
@section BackLink {
    <div class="faa-js-back-link-history">
        <a class="govuk-back-link" asp-route="@RouteNames.ServiceStartDefault">Back</a>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">
            Get help with Find an apprenticeship
        </h1>

        <h2 class="govuk-heading-m">
            Contact the Apprenticeship service
        </h2>
        <p class="govuk-body">
            Contact us if you're having a problem with the service.
        </p>

        <h2 class="govuk-heading-s">
            Call us
        </h2>
        <p class="govuk-body">
            Call 08000 150 400
            <br />
            Open Monday to Friday, 9am to 5pm
            <br />
            Free from UK mobiles and landlines
        </p>

        <h2 class="govuk-heading-s">
            Email us
        </h2>
        <p class="govuk-body">
            <a href="mailto:nationalhelpdesk@findapprenticeship.service.gov.uk"
                class="govuk-link">nationalhelpdesk@findapprenticeship.service.gov.uk</a>
        </p>
    </div>
</div>