@{
    ViewData["Title"] = "Sorry, there is a problem with this service – Find an apprenticeship – GOV.UK";
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Sorry, there is a problem with this service.</h1>
        <p class="govuk-body">Try again later.</p>
        <p class="govuk-body"><a href="https://help.apprenticeships.education.gov.uk/hc/en-gb#contact-us" class="govuk-link govuk-link--no-visited-state">Contact the Apprenticeship service</a> if you need help while we're fixing this problem.</p>
    </div>
</div>