@using SFA.DAS.FAA.Web.Infrastructure
@using WebEssentials.AspNetCore.CdnTagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model SFA.DAS.FAA.Web.Models.Apply.DisabilityConfidentViewModel
@{
    ViewData["Title"] = "Disability Confident scheme – Find an apprenticeship – GOV.UK";
}

@section BackLink {
    <a class="govuk-back-link" href="@Url.RouteUrl(RouteNames.Apply, new { Model.ApplicationId })">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_ValidationSummary" />
        <span class="govuk-caption-l">Equal opportunity</span>
        <h1 class="govuk-heading-l">Disability Confident scheme</h1>
        <img src="/img/disability-confident.svg" no-cdn class="faa-disability-confident--srp" alt="Disability Confident"/>

        <div class="govuk-inset-text">
            If you have a disability or long-term health condition, this scheme could help you get an interview.
        </div>

        <p class="govuk-body">@Model.EmployerName wants to help more disabled people reach the interview stage for this apprenticeship.</p>
        <p class="govuk-body">They’ll offer a fair proportion of interviews to people with a disability or long-term health condition.</p>

        <h2 class="govuk-heading-m">Using the Disability Confident scheme</h2>

        <p class="govuk-body">You can apply under this scheme if you have a disability or long-term health condition. This includes non-visible disabilities and conditions.</p>

        <p class="govuk-body">
            If you're unsure about your condition, check the <a href="https://www.gov.uk/definition-of-disability-under-equality-act-2010" class="govuk-link govuk-link--no-visited-state" target="_blank">definition of disability under the Equality Act 2010 (opens in new tab)</a>.
        </p>

        <p class="govuk-body">To be considered for an interview, you’ll still need to meet the essential requirements for this apprenticeship.</p>

        <p class="govuk-body">You don’t need to tell us any details about your condition to apply under this scheme.</p>

        <form class="govuk-!-margin-top-8" method="post">
            <div class="govuk-form-group" das-highlight-error-for="ApplyUnderDisabilityConfidentScheme" error-class="govuk-form-group--error">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        Do you want to apply under the Disability Confident scheme?
                    </legend>
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="ApplyUnderDisabilityConfidentScheme" name="ApplyUnderDisabilityConfidentScheme" asp-for="ApplyUnderDisabilityConfidentScheme" type="radio" value="true">
                            <label class="govuk-label govuk-radios__label" for="ApplyUnderDisabilityConfidentScheme">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" asp-for="ApplyUnderDisabilityConfidentScheme" name="ApplyUnderDisabilityConfidentScheme-No" type="radio" value="false">
                            <label class="govuk-label govuk-radios__label" for="ApplyUnderDisabilityConfidentScheme-No">
                                No
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <button class="govuk-button">Continue</button>
        </form>
    </div>
</div>