@using SFA.DAS.FAA.Web.Infrastructure
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model string 
@{
    ViewData["Title"] = $"Search alert deleted – Find an apprenticeship – GOV.UK ";
}

<div class="govuk-panel govuk-panel--confirmation">
    <h1 class="govuk-panel__title">
        Search alert deleted
    </h1>
    <div class="govuk-panel__body">
        @Model
    </div>
</div>

<div class="govuk-!-padding-bottom-5"></div>

<h2 class="govuk-heading-m">What to do next</h2>
<p class="govuk-body">
    If you want to delete other alerts, 
    <a href="..//govuk-one-login/sign-in-or-create.html" class="govuk-link">sign in to manage your search alerts</a>.
</p>