@using SFA.DAS.FAA.Web.Infrastructure
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model SFA.DAS.FAA.Web.Models.Apply.AddJobViewModel

@{
    Layout = "_LayoutApprentice";
}

@section BackLink {
    <a class="govuk-back-link" href="@Url.RouteUrl(RouteNames.ApplyApprenticeship.Jobs, new { Model.ApplicationId })">
        Back
    </a>
}
<partial name="_ValidationSummary" />
<span class="govuk-caption-l">Work history</span>
<h1 class="govuk-heading-l govuk-!-margin-bottom-8">Add a job</h1>
<form class="form" method="post">
    
    <partial name="_JobForm" model="@Model" />
    
    <div class="govuk-button-group" href="application-summary-jobs.html">
            <button class="govuk-button" data-module="govuk-button">
                Save and continue
            </button>
        </div>

</form>
