@model SFA.DAS.FAA.Web.Models.Applications.IndexViewModel.Application
<li class="das-search-results__list-item">
    <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
        @Model.Title
    </h2>
    <p class="govuk-hint">@Model.EmployerName</p>
    <p class="govuk-body govuk-!-margin-bottom-0">@Model.StartedOn</p>
    <p class="govuk-hint">@Model.ClosingDate</p>
    <ul class="faa-inline-list faa-inline-list--bar govuk-!-margin-bottom-4">
        <li>
            @* <a href="#" class="govuk-link">
                <!--#TODO: Application delete link has to be updated -->
                Delete
            </a> *@
        </li>
    </ul>
</li>