<h1 class="govuk-heading-l">Applications</h1>


<nav class="faa-tab-nav">
    <ul class="faa-tab-nav__list">
        <li class="faa-tab-nav__list-item">
            <a href="Started" class="faa-tab-nav__link faa-tab-nav__link--active">Started</a>
        </li>
        <li class="faa-tab-nav__list-item">
            <a href="Submitted" class="faa-tab-nav__link">Submitted</a>
        </li>
        <li class="faa-tab-nav__list-item">
            <a href="Successful" class="faa-tab-nav__link">Successful</a>
        </li>
        <li class="faa-tab-nav__list-item">
            <a href="Unsuccessful" class="faa-tab-nav__link">Unsuccessful</a>
        </li>
    </ul>
</nav>