.autocomplete__menu {
  border-top: 2px solid $govuk-input-border-colour;
  margin-top: -2px;
}

.autocomplete__wrapper {
  max-width: 11.5em;
}

.page--faa-homepage .autocomplete__wrapper {
  max-width: 100%;
}

.faa-course-select .autocomplete__wrapper {
  max-width: 100%;
  & .autocomplete__input {
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
  }
}
