@model SFA.DAS.FAA.Web.Models.Apply.Base.VolunteeringAndWorkExperienceViewModelBase

<div class="govuk-form-group govuk-!-margin-bottom-7" das-highlight-error-for="CompanyName"
    error-class="govuk-form-group--error">
    <label class="govuk-label govuk-label--m" for="CompanyName">
        Company or organisation
    </label>
    <span das-validation-for="CompanyName" class="govuk-error-message"></span>
    <input class="govuk-input" asp-for="CompanyName" type="text" autocomplete="off">
</div>
<div class="govuk-character-count" data-module="govuk-character-count" data-maxwords="100">
    <div class="govuk-form-group govuk-!-margin-bottom-7" das-highlight-error-for="Description"
        error-class="govuk-form-group--error">
        <label class="govuk-label govuk-label--m" for="Description">
            What you did
        </label>
        <div class="govuk-hint">
            Describe your role
        </div>
        <span das-validation-for="Description" class="govuk-error-message"></span>
        <textarea class="govuk-textarea govuk-js-character-count" asp-for="Description" rows="5"
            aria-describedby="Description-info"></textarea>
    </div>
    <div id="Description-info" class="govuk-hint govuk-character-count__message">
        You have 100 words remaining
    </div>
</div>

<month-year-date property="StartDate" label="Start date"
    hint-text="For example, 4 2022. If you can’t remember the date, enter an estimate"
    error-class="govuk-form-group--error" />

<div class="govuk-form-group" das-highlight-error-for="IsCurrentRole" error-class="govuk-form-group--error">
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            Are you still doing this volunteering or work experience?
        </legend>
        <span das-validation-for="IsCurrentRole" class="govuk-error-message"></span>
        <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" asp-for="IsCurrentRole" type="radio" value="true">
                <label class="govuk-label govuk-radios__label" for="IsCurrentRole">
                    Yes
                </label>
            </div>
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" asp-for="IsCurrentRole" id="IsCurrentRole-No" type="radio"
                    value="false" aria-controls="current-role-end-date" aria-expanded="false">
                <label class="govuk-label govuk-radios__label" for="IsCurrentRole-No">
                    No
                </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="current-role-end-date">
                <month-year-date property="EndDate" label="End date"
                    hint-text="For example, 10 2023. If you can’t remember the date, enter an estimate"
                    error-class="govuk-form-group--error" />
            </div>
        </div>
    </fieldset>
</div>