.govuk-error-message:empty {
  display: none;
}

.faa-home-panel {
  background: #f3f2f1;
  margin: 30px -15px 0;
  padding: 15px;
}

@media (min-width: 40.0625em) {
  .faa-home-panel {
    margin: 50px 0 0;
    padding: 30px;
  }
}

.autocomplete__input {
  max-width: 10em;
}

.autocomplete__menu {
  border-top: 2px solid #0b0c0c;
  margin-top: -2px;
}

.autocomplete__wrapper {
    max-width: 10em;
}
