@using SFA.DAS.FAA.Web.Infrastructure
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model SFA.DAS.FAA.Web.Models.Apply.AddAdditionalQuestionViewModel
@{
    ViewData["Title"] = Model.AdditionalQuestionLabel + " - Find an apprenticeship - GOV.UK";
}
@section BackLink {
    <a class="govuk-back-link" href="@Url.RouteUrl(RouteNames.Apply, new { Model.ApplicationId })">Back</a>
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_ValidationSummary" />
        <span class="govuk-caption-l">Application questions</span>
        <form class="form" method="post">
            @Html.HiddenFor(x => x.AdditionalQuestionLabel)
            <h1 class="govuk-label-wrapper govuk-!-margin-bottom-6">
                <label class="govuk-label govuk-label--l" for="AdditionalQuestionAnswer">
                    @Model.AdditionalQuestionLabel
                </label>
            </h1>
            <partial name="_AdditionalQuestionForm" model="@Model" />
            <div class="govuk-button-group">
                <button class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
            </div>
        </form>
    </div>
</div>