@use "../../govuk-tools" as *;

.faa-home-panel {
  background: govuk-colour("black", $variant: "tint-95");
  margin: 30px -15px 0;
  padding: 15px;
}

@media (min-width: 40.0625em) {
  .faa-home-panel {
    margin: 50px 0 0;
    padding: 30px;
  }
}
